<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"> -->

<!-- 
filtra por categoria

busca pelo nome

ordena produtos 

JS desativa o botão “Filtrar”

foto

nome (com link para detalhes)

preço

disponibilidade 

botões de editar e excluir
-->
{% extends "base.html" %}

{% block title %}Listagem Produtos{% endblock %}

{% block conteudo %}
<h2>Lista de Produtos</h2>

<a href="{% url 'adicionar_produto' %}" class="btn btn-primary mb-3">Adicionar novo produto</a>

<form method="GET" class="mb-3" id="filtroForm">

    <select name="categoria" id="filtroCategoria" class="form-select d-inline-block w-auto">
        <option value="">-- Todas categorias --</option>
        {% for c in categorias %}                                                      
            <option value="{{ c.id }}" 
                {% if categoria_filtro == c.id|stringformat:"s" %}selected{% endif %}>
                {{ c.nome }}
            </option>
        {% endfor %}
    </select>

    <input type="text" name="busca" id="filtroBusca" class="form-control d-inline-block w-auto"
           placeholder="Pesquisar..." value="{{ termo|default:'' }}">

    <button type="submit" id="btnFiltrar" class="btn btn-secondary">Filtrar</button>

    <label class="ms-3">Ordenar por:</label>
    <select name="ordem" class="form-select d-inline-block w-auto" onchange="document.getElementById('filtroForm').submit()">
        <option value="">-- nenhum --</option>
        <option value="az" {% if ordem == 'az' %}selected{% endif %}>Nome A → Z</option>
        <option value="za" {% if ordem == 'za' %}selected{% endif %}>Nome Z → A</option>
        <option value="menor_preco" {% if ordem == 'menor_preco' %}selected{% endif %}>Preço menor → maior</option>
        <option value="maior_preco" {% if ordem == 'maior_preco' %}selected{% endif %}>Preço maior → menor</option>
    </select>

</form>

<script>
    const categoria = document.getElementById("filtroCategoria");
    const busca = document.getElementById("filtroBusca");
    const botao = document.getElementById("btnFiltrar");

    function atualizarBotao() {
        if (categoria.value === "" && busca.value.trim() === "") {
            botao.disabled = true;   
        } else {
            botao.disabled = false;  
        }
    }

    categoria.addEventListener("change", atualizarBotao);
    busca.addEventListener("input", atualizarBotao);

    atualizarBotao(); 
</script>


<table class="table table-bordered table-striped">
    <tr>
        <th>Foto</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Disponível</th>
        <th>Ações</th>
    </tr>

    {% for p in produtos %}
    <tr>
        <td>
            {% if p.foto %}
                <img src="{{ p.foto.url }}" width="80">
            {% else %}
                Sem foto
            {% endif %}
        </td>

        <td><a href="{% url 'detalhes_produto' p.id %}"  class="text-decoration-none">{{ p.nome }}</a></td>
        <td>R$ {{ p.preco }}</td>
        <td>{{ p.disponibilidade|yesno:"Sim,Não" }}</td>

        <td>
            <a href="{% url 'editar_produto' p.id %}" class="btn btn-sm btn-primary">Editar</a>
            <a href="{% url 'excluir_produto' p.id %}" class="btn btn-sm btn-danger">Excluir</a>
            
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}