{% extends "base.html" %}

{% block title %}Home - PedAI{% endblock %}

{% block conteudo %}
<div class="card card-custom shadow">

    <h2 class="mb-3">Bem-vindo ao PedAI Marketplace</h2>
    <p class="text-muted mb-4">Escolha uma das seções abaixo:</p>

    <div class="d-flex gap-3">
        <a class="btn btn-primary" href="{% url 'listar_produto' %}">Produtos</a>
        <a class="btn btn-secondary" href="{% url 'listar_categorias' %}">Categorias</a>
        <a class="btn btn-success" href="{% url 'listar_pedidos' %}">Pedidos</a>
    </div>

</div>
{% endblock %}
